@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #000000;
  --secondary: #F9773B;
  --green: #22C55E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta-sans);
  --font-inter: var(--font-inter);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-green: var(--green);
  
  --color-green: var(--green);
  --width-8xl: 100rem;
  --max-width-8xl: 100rem;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}